@media (orientation: portrait) and (max-width: 649px) {
  header {
    margin-bottom: 80px;
  }
  .title {
    font-size: 1.5em;
    font-weight: normal;
  }
  .text-area-container {
    margin-bottom: 35px;
  }
  .copyLink {
    text-align: center;
    margin-bottom: 40px;
  }
  .flex-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col_btn {
    margin-bottom: 20px;
  }
}
@media (max-height: 500px) and (orientation: landscape) {
  header {
    margin-bottom: 30px;
  }
  .title {
    font-size: 1.5em;
    font-weight: normal;
    -webkit-margin-before: 0.33em;
    -webkit-margin-after: 0.33em;
  }
  .text-area-container {
    margin-bottom: 10px;
  }
  .flex-buttons {
    display: flex;
    justify-content: center;
  }
  .col_btn:nth-child(2) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 650px) {
  header {
    margin-bottom: 100px;
  }
  .title {
    font-size: 1.5em;
    font-weight: normal;
  }
  .text-area-container {
    margin-bottom: 45px;
  }
  .copyLink {
    text-align: center;
    margin-bottom: 50px;
  }
  .flex-buttons {
    display: flex;
    justify-content: center;
  }
  .col_btn:nth-child(2) {
    margin-left: 40px;
  }
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Cutive Mono', monospace;
}
header {
  padding: 10px 20px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}
.text_area {
  width: 100%;
  font-family: inherit;
  font-size: 2.5em;
  text-align: center;
  resize: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.col_btn {
  width: 100px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  padding: 32px 15px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}
.col_btn:active {
  -webkit-box-shadow: inset 5px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 5px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: inset 5px 5px 10px 0px rgba(0,0,0,0.5);
}
